<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Survey</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f5f8fa;
        }

        .navbar {
            background-color: #ffffff;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding-top: 20px;
        }

        .footer {
            background-color: #f5f8fa;
            padding: 20px;
            text-align: center;
        }

        .footer-logo {
            max-width: 400px;
            height: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'survey:home' %}">Home</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <footer class="footer">
         <img class="footer-logo" src="{% static 'images/EN_Black_Chalmers_GU.png' %}" alt="School Logo">
    </footer>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery
