{% extends 'base.html' %}

{% block title %}Survey{% endblock title %}

{% block content %}
<p>
    <b>
    <a>Network scale-up Survey <br> </a>
    <a>These surveys are used to estimate the sizes of sub-population. Data collected from these surveys can not be traced back to the respondents</a>
    </b>
</p>
{% for survey in  survey_list%}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a href="{% url 'survey:detail' survey.pk %}">{{ survey.name }}</a></span>
    </div>
    <div class="card-body">
        {{survey.description}}
    </div>

</div>
<br />
{% endfor %}
{% endblock content %}