{% extends 'base.html' %}

{% block content %}
<h2>{{survey.name}}</h2>
<h3>{{survey.description}}</h3>

<form method="POST" id="surveyForm">

    {% csrf_token %}
    <a href="{% url 'survey:new_radio_question' %}">+ Add a radio question</a>
    {% for question in  radio_questions%}
    <p>{{question.text}}</p>
    {% for answer in  question.radioanswer_set.all%}
    <label>
        <input type="radio" name="radio_question_{{question.id}}" value="{{answer.id}}">
        {{answer.text}}
    </input>
    {% endfor %}
    {% endfor %}

    {% for question in  integer_questions%}
    <p>{{question.text}}</p>
    <input type="number" name="integer_question_{{question.id}}" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
    {% endfor %}

    {% if country_question %}
    <p>{{country_question.text}}</p>
    <select name="country" id="id_country">
        <option value="">Select a country</option>
        {% for country in countries %}
        <option value="{{country.id}}">{{country.name}}</option>
        {% endfor %}
    </select>
    <select name="region" id="id_region" data-url="{% url 'survey:ajax_load_regions' %}">
        {% comment %} <option value="">Select a region</option>
        {% for region in regions %}
        <option value="{{region.id}}">{{region.name}}</option>
        {% endfor %} {% endcomment %}
    </select>
    {% endif %}
    <p>
    <button type="submit">Submit</button>
    </p>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#id_country').change(function() {
    var countryId = $(this).val();
    var url = $('#id_region').data('url');
    $.ajax({
      url: url,
      data: {
        'country_id': countryId
      },
      success: function(data) {
        var options = '<option value="">Select a region</option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
        }
        $('#id_region').html(options);
      }
    });
  });
});
</script>

{% endblock content %}

