{% extends 'base.html' %}

{% block title %}Survey{% endblock title %}

{% block content %}
<p>
    <a href="{% url 'survey:new' %}">+ New</a>
</p>
{% for survey in  survey_list%}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a href="{% url 'survey:detail' survey.pk %}">{{ survey.name }}</a></span>
    </div>
    <div class="card-body">
        {{survey.description}}
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'survey:edit' survey.pk %}">Edit</a> | 
        <a href="{% url 'survey:delete' survey.pk %}">Delete</a>
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}